@import "../../styles/responsive.scss";
@import "../../styles/themes.scss";

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  top: 0;

  // Theme styles
  @include themed() {
    background-color: t(bg-primary);
    color: t(text-primary);

    h1 {
      font-size: 10rem;
      margin: 0;
      color: t(button-primary);
    }

    p {
      font-size: 1.5rem;
      margin: 1rem 0;
      color: t(text-secondary);
    }

    .home-link {
      display: inline-block;
      padding: 0.5rem 1rem;
      margin-top: 2rem;
      font-size: 1.2rem;
      color: #fff;
      background-color: t(button-primary);
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: t(button-hover);
      }
    }
  }

  // Responsive breakpoints
  @include sm {
    h1 {
      font-size: 6rem;
    }

    p {
      font-size: 1.2rem;
    }

    .home-link {
      font-size: 1rem;
      padding: 0.4rem 0.8rem;
    }
  }

  @include md {
    h1 {
      font-size: 8rem;
    }

    p {
      font-size: 1.3rem;
    }
  }
}
