@import "../../../styles/themes.scss";

.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  text-align: center;

  @include themed() {
    color: t(text-primary);

    .icon {
      animation: spin 1s linear infinite;
      color: t(button-primary);
    }

    p {
      font-size: 1rem;
      color: t(text-secondary);
    }
  }
}

// Spinner animation
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
